In [64]:
import pandas as pd 
import numpy as np 
import random 
from sklearn.impute import KNNImputer

df = pd.read_csv('./missing_values.csv')
df

      DATE_TODAY  ID_ARTICLE                 LIBELLE  PRICE  STOCK
0     2020-09-07     2196543                     NaN   2.40    6.0
1     2020-09-07     2339672                     NaN   2.02   15.0
2            NaN     2196543                     NaN   2.35   12.0
3     2020-09-07     2024529                     NaN   3.12   11.0
4     2020-09-07     8718949                     NaN   3.09   15.0
...          ...         ...                     ...    ...    ...
1353  2020-09-07     2390619                     NaN   5.37    NaN
1354  2020-09-07     6566229  Yaourt au soja, nature    NaN    NaN
1355         NaN     1866590                     NaN   3.88    NaN
1356  2020-09-07     1866565                     NaN   3.26    3.0
1357  2020-09-07     9768180                     NaN   3.41    7.0

[1358 rows x 5 columns]

Détecter les valeurs manquantes avec isnull ou isna => VRAI SI VALEUR MANQUANTE (notnull et notna renvoient vrai si la valeur n'est pas manquante)

In [15]:
print(df.isnull())

      DATE_TODAY  ID_ARTICLE  LIBELLE  PRICE  STOCK
0          False       False     True  False  False
1          False       False     True  False  False
2           True       False     True  False  False
3          False       False     True  False  False
4          False       False     True  False  False
...          ...         ...      ...    ...    ...
1353       False       False     True  False   True
1354       False       False    False   True   True
1355        True       False     True  False   True
1356       False       False     True  False  False
1357       False       False     True  False  False

[1358 rows x 5 columns]

On regarde pour chaque colonne s'il y a des valeurs manquantes (false s'il y a des valeurs manquantes) - je peux faire print(df.isnull().any()) pour afficher true si une colonne contient au moins une valeur manquante (pareil avec les lignes via print(df.isnull().any(axis=1))

In [17]:
print(df.isnull().all())

DATE_TODAY    False
ID_ARTICLE    False
LIBELLE       False
PRICE         False
STOCK         False
dtype: bool

On compte les valeurs manquantes par colonne

In [23]:
print(df.isnull().sum())

DATE_TODAY     259
ID_ARTICLE       0
LIBELLE       1121
PRICE          245
STOCK          531
dtype: int64

On calcule le nombre global de valeurs manquantes dans le dataframe

In [25]:
print (df.isnull().values.sum())

2156

Calculer le pourcentage de valeurs manquantes par colonne

In [45]:
missing_per_column = df.isnull().mean() * 100
print(missing_per_column)

DATE_TODAY    19.072165
ID_ARTICLE     0.000000
LIBELLE       82.547865
PRICE         18.041237
STOCK         39.101620
dtype: float64

In [ ]:
Calculer le pourcentage glocal de valeurs manquantes

In [41]:
total_missing = df.isnull().sum().sum()
total_values = df.size
global_missing_percentage = (total_missing / total_values) * 100
print("\nPourcentage global de valeurs manquantes :")
print(f"{global_missing_percentage:.2f}%")

Pourcentage global de valeurs manquantes :
31.75%

Remplacer les valeurs manquantes par la moyenne

In [52]:
print(df.fillna(df.select_dtypes(include=[np.number]).mean()))

      DATE_TODAY  ID_ARTICLE                 LIBELLE     PRICE      STOCK
0     2020-09-07     2196543                     NaN  2.400000   6.000000
1     2020-09-07     2339672                     NaN  2.020000  15.000000
2            NaN     2196543                     NaN  2.350000  12.000000
3     2020-09-07     2024529                     NaN  3.120000  11.000000
4     2020-09-07     8718949                     NaN  3.090000  15.000000
...          ...         ...                     ...       ...        ...
1353  2020-09-07     2390619                     NaN  5.370000  11.177751
1354  2020-09-07     6566229  Yaourt au soja, nature  3.969335  11.177751
1355         NaN     1866590                     NaN  3.880000  11.177751
1356  2020-09-07     1866565                     NaN  3.260000   3.000000
1357  2020-09-07     9768180                     NaN  3.410000   7.000000

[1358 rows x 5 columns]

Remplacer les données manquantes par la médiane

In [54]:
print(df.fillna(df.select_dtypes(include=[np.number]).median()))

      DATE_TODAY  ID_ARTICLE                 LIBELLE  PRICE  STOCK
0     2020-09-07     2196543                     NaN   2.40    6.0
1     2020-09-07     2339672                     NaN   2.02   15.0
2            NaN     2196543                     NaN   2.35   12.0
3     2020-09-07     2024529                     NaN   3.12   11.0
4     2020-09-07     8718949                     NaN   3.09   15.0
...          ...         ...                     ...    ...    ...
1353  2020-09-07     2390619                     NaN   5.37    6.0
1354  2020-09-07     6566229  Yaourt au soja, nature   3.78    6.0
1355         NaN     1866590                     NaN   3.88    6.0
1356  2020-09-07     1866565                     NaN   3.26    3.0
1357  2020-09-07     9768180                     NaN   3.41    7.0

[1358 rows x 5 columns]

Remplacer les données manquantes par la modalité la plus fréquente

In [58]:
print(df.apply(lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else x))

      DATE_TODAY  ID_ARTICLE                       LIBELLE  PRICE  STOCK
0     2020-09-07     2196543  Yaourts au céréales – muesli   2.40    6.0
1     2020-09-07     2339672  Yaourts au céréales – muesli   2.02   15.0
2     2020-09-07     2196543  Yaourts au céréales – muesli   2.35   12.0
3     2020-09-07     2024529  Yaourts au céréales – muesli   3.12   11.0
4     2020-09-07     8718949  Yaourts au céréales – muesli   3.09   15.0
...          ...         ...                           ...    ...    ...
1353  2020-09-07     2390619  Yaourts au céréales – muesli   5.37    1.0
1354  2020-09-07     6566229        Yaourt au soja, nature   2.34    1.0
1355  2020-09-07     1866590  Yaourts au céréales – muesli   3.88    1.0
1356  2020-09-07     1866565  Yaourts au céréales – muesli   3.26    3.0
1357  2020-09-07     9768180  Yaourts au céréales – muesli   3.41    7.0

[1358 rows x 5 columns]

Remplacer les données manquantes par 0

In [50]:
print(df.fillna(0))

      DATE_TODAY  ID_ARTICLE                 LIBELLE  PRICE  STOCK
0     2020-09-07     2196543                       0   2.40    6.0
1     2020-09-07     2339672                       0   2.02   15.0
2              0     2196543                       0   2.35   12.0
3     2020-09-07     2024529                       0   3.12   11.0
4     2020-09-07     8718949                       0   3.09   15.0
...          ...         ...                     ...    ...    ...
1353  2020-09-07     2390619                       0   5.37    0.0
1354  2020-09-07     6566229  Yaourt au soja, nature   0.00    0.0
1355           0     1866590                       0   3.88    0.0
1356  2020-09-07     1866565                       0   3.26    3.0
1357  2020-09-07     9768180                       0   3.41    7.0

[1358 rows x 5 columns]

Remplacer les valeurs manquantes par une valeur au hasard (hot deck) 
# Fonction pour remplacer les valeurs manquantes par une valeur au hasard de la même colonne
def replace_with_random(x):
    # Remplacer les NaN par des échantillons aléatoires des valeurs non manquantes
    return x.fillna(np.random.choice(x.dropna())) if not x.dropna().empty else x

# Appliquer la fonction à chaque colonne
df_filled = df.apply(replace_with_random)

In [62]:
# Fonction pour remplacer les valeurs manquantes par des valeurs choisies au hasard de la même colonne
def replace_with_random(x):
    # Obtenir les valeurs non manquantes
    non_missing_values = x.dropna().values
    # Remplacer chaque valeur NaN par une valeur aléatoire tirée des valeurs non manquantes
    return x.apply(lambda v: np.random.choice(non_missing_values) if pd.isna(v) else v)

# Appliquer la fonction à chaque colonne
print(df.apply(replace_with_random))

      DATE_TODAY  ID_ARTICLE                                       LIBELLE  \
0     2020-09-07     2196543                           Yaourt à la grecque
1     2020-09-07     2339672                         Yaourt, fruits rouges
2     2020-09-07     2196543            Yaourt semoule aux raisins au rhum
3     2020-09-07     2024529              Yaourt à la framboise et vanille
4     2020-09-07     8718949                          Yaourt 0%, framboise
...          ...         ...                                           ...
1353  2020-09-07     2390619                               Yaourt, panaché
1354  2020-09-07     6566229                        Yaourt au soja, nature
1355  2020-09-07     1866590                  Yaourts au céréales – muesli
1356  2020-09-07     1866565  Yaourt au soja, fraise-banane et pêche-poire
1357  2020-09-07     9768180                                Yaourt – pêche

      PRICE  STOCK
0      2.40    6.0
1      2.02   15.0
2      2.35   12.0
3      3.12   11.0
4      3.09   15.0
...     ...    ...
1353   5.37    4.0
1354   5.19   19.0
1355   3.88    1.0
1356   3.26    3.0
1357   3.41    7.0

[1358 rows x 5 columns]

Methode KNN Imputer

In [74]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=3)

# Séparer les colonnes numériques et non numériques
df_numeric = df.select_dtypes(include=[np.number])
df_non_numeric = df.select_dtypes(exclude=[np.number])

# Initialiser le KNN Imputer et appliquer l'imputation sur les colonnes numériques
imputer = KNNImputer(n_neighbors=3)
df_imputed_numeric = pd.DataFrame(imputer.fit_transform(df_numeric), columns=df_numeric.columns)

# Combiner les colonnes numériques imputées avec les colonnes non numériques originales
df_final = pd.concat([ df_non_numeric,df_imputed_numeric], axis=1)
df_final

      DATE_TODAY                 LIBELLE  ID_ARTICLE     PRICE      STOCK
0     2020-09-07                     NaN   2196543.0  2.400000   6.000000
1     2020-09-07                     NaN   2339672.0  2.020000  15.000000
2            NaN                     NaN   2196543.0  2.350000  12.000000
3     2020-09-07                     NaN   2024529.0  3.120000  11.000000
4     2020-09-07                     NaN   8718949.0  3.090000  15.000000
...          ...                     ...         ...       ...        ...
1353  2020-09-07                     NaN   2390619.0  5.370000   2.666667
1354  2020-09-07  Yaourt au soja, nature   6566229.0  3.366667   5.000000
1355         NaN                     NaN   1866590.0  3.880000   9.000000
1356  2020-09-07                     NaN   1866565.0  3.260000   3.000000
1357  2020-09-07                     NaN   9768180.0  3.410000   7.000000

[1358 rows x 5 columns]